.wawes{
    display: flex;
    justify-content: center;
}
.songContainer{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 60vh;
    justify-content: center;
   
    img{
        width: 25%;
        border-radius: 50%;
        margin: 2rem;
    }

}