*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Library{
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transform: translateX(-100%);
}   
.openLibrary{
    transform: translateX(-0%);
} 